@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #212121;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
  a {
    @apply text-inherit no-underline;
  }
}

@layer components {
  .wrapper {
    @apply bg-gray-100;
  }
  .paddings {
    @apply p-6 sm:p-16;
  }
  .innerWidth {
    @apply w-full 2xl:max-w-[1480px] 2xl:mx-auto;
  }
  .flexCenter {
    @apply flex justify-center items-center flex-wrap gap-8;
  }
  .flexStart {
    @apply flex justify-start items-center;
  }
  .flexEnd {
    @apply flex justify-end items-center;
  }
  .flexColCenter {
    @apply flex flex-col justify-center items-center;
  }
  .flexColStart {
    @apply flex flex-col justify-center items-start;
  }
  .flexColEnd {
    @apply flex flex-col justify-center items-end;
  }
  .primaryText {
    @apply text-[#2c2c2c] font-bold text-3xl;
  }
  .secondaryText {
    @apply text-[rgb(140,139,139)] text-[0.9rem];
  }
  .orangeText {
    @apply text-[rgb(0,60,255)] text-2xl font-semibold;
  }
  .button {
    @apply font-semibold py-2 px-4 rounded cursor-pointer bg-[#4066ff] text-white border-none transition-all duration-200;
  }
  .white-gradient {
    @apply absolute w-80 h-80 bg-white/50 blur-[100px] rounded-[100px];
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .orangeText {
    font-size: 1.2rem;
  }
}

.button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  background: var(--blue-gradient);
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
}
.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
